.box{
  height: 8rem;
  width: auto;
}

.input{
  height: 100%;
  width: 30rem;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(230, 226, 226);
  font-weight: 900;
  font-size: x-large;
}